  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>SGTech Goes Online</title>
  <meta name="description" content="Customisable OpenTok broadcast application for Singapore's online meetups">
  <meta name="author" content="Chen Hui Jing">

  <link rel="stylesheet" href="css/styles.css">
  <script src="js/util/es6-promise.auto.min.js" defer></script> 
  <script src="https://static.opentok.com/v2/js/opentok.min.js" defer></script>