<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>SGTech Goes Online</title>
  <meta name="description" content="Customisable OpenTok broadcast application for Singapore's online meetups">
  <meta name="author" content="Chen Hui Jing">

  <style>
    * {
      margin: 0;
      padding: 0;
    }

    body {
      display: flex;
      height: 100vh;
    }

    main{
      margin: auto;
      text-align: center;
    }

    header {
      margin-bottom: 1em;
    }

    label {
      display: block;
      margin-bottom: 1em;
    }

    fieldset {
      border: 0;
      display: flex;
      justify-content: space-between;
    }

    input {
      font-size: 85%;
      padding: 0.5em;
      border: 1px solid mediumslateblue;
      border-radius: 2px;
    }

    button {
      background-color: mediumslateblue;
      color: white;
      cursor: pointer;
      border: 0;
      border-radius: 2px;
      transition: color .3s ease, mediumslateblue .3s ease;
      font-size: inherit;
      padding: 0.5em 1em;
    }
  </style>

  <script src="js/util/http.js"></script>
  <script src="js/index.js" type="text/javascript"></script>
</head>

<body>
  <main>
    <%- include ('../partials/branding') %>
    <form id="registration">
      <label>
        <span>Name</span>
        <input name="user-name" placeholder="Enter display name" required>
      </label>
      <p>Select your role:</p>
      <fieldset>
        <label>
          <input type="radio" name="user-type" value="host">
          <span>Host</span>
        </label>
        <label>
          <input type="radio" name="user-type" value="guest">
          <span>Guest</span>
        </label>
        <label>
          <input type="radio" name="user-type" value="viewer" checked>
          <span>Viewer</span>
        </label>
      </fieldset>
      <button>Start</button>
    </form>
  </main>

</body>

</html>
