@import 'settings';

html {
  box-sizing: border-box;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr 20em;
  grid-template-rows:  min-content 1fr;
  grid-template-areas: 'video header'
                       'video aside';
  height: 100vh;
}

header {
  grid-area: header;
  justify-self: center;
  padding: 1em;
  text-align: center;
}

main {
  grid-area: video;
  display: grid;
  grid-template-column: auto;
  grid-template-row: auto;
}

aside {
  grid-area: aside;
  padding: 0.5em 1em;
  display: flex;
  flex-direction: column;
}

p {
  line-height: 1.3;
  margin-bottom: 1em;
}

input {
  font-size: 85%;
  padding: 0.5em;
}

button {
  background-color: $accent-colour;
  color: text-color($accent-colour);
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  transition: color .3s ease, background-color .3s ease;
  font-size: inherit;
  padding: 0.5em 1em;
}

.banner {
  grid-row: 1;
  grid-column: 1;
  display: flex;
}

.banner .text {
  margin: auto;
}

.banner .ended {
  color: $warning-colour;
}

.video-container {
  grid-row: 1;
  grid-column: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.video-container.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.video-container:empty {
  width: 0;
}

.fp-player {
  display: flex;
  justify-content: center;
  align-content: center;
}

.fp-ratio,
.fp-ui,
.fp-help,
.fp-subtitle.audio-control,
.fp-context-menu {
  display: none;
}

.video-container .OT_publisher,
.video-container .OT_subscriber {
  position: relative;
}

.video-container.wrap .OT_publisher,
.video-container.wrap .OT_subscriber {
  height: 49.5% !important;
  width: 48.5% !important;
}

.OT_publisher .OT_name.OT_edge-bar-item.OT_mode-off,
.OT_subscriber .OT_name.OT_edge-bar-item.OT_mode-off {
  position: absolute;
  left: 0;
  right: 0;
  top: auto;
  bottom: 20px;
  margin: 0 auto;
  opacity: 1;
  text-align: center;
  width: 125px;
  border-radius: 20px;
}

.OT_widget-container .OT_video-element {
  border-radius: 8px;
}

.publisher-controls-container {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: 1.5em;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
}

.publisher-controls-container .control {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 1.5em;
  width: 1.5em;
  cursor: pointer;
  margin: 0 1em;
}

.publisher-controls-container .video-control {
  background-image: url('../images/camera.svg');
}

.publisher-controls-container .video-control.disabled {
  background-image: url('../images/no-camera.svg');
}

.publisher-controls-container .audio-control {
  background-image: url('../images/mic.svg');
}

.publisher-controls-container .audio-control.disabled {
  background-image: url('../images/no-mic.svg');
}

.rtmp-container p {
  font-style: italic;
}

.rtmp-container p.error {
  color: $warning-colour;
}

.rtmp-container .input-container input {
  width: calc(100% - 2em);
  margin-bottom: 1em;
}

.url-container {
  position: relative;
  text-align: center;
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.copy-link {
  cursor: pointer;
}

.copy-txt {
  position: absolute;
  bottom: -2.25em;
  border-radius: 4px;
  border: 1px solid $accent-colour;
  background-color: $light-bg;
  padding: 0.25em 0.5em;
}

.hidden {
  display: none !important;
}

.invisible {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.btn-broadcast {
  align-self: center;
  margin-bottom: 1em;
}

.btn-broadcast:hover {
  text-decoration: none;
  background-color: lighten($accent-colour, 5%);
}

.btn-broadcast.active {
  background-color: $warning-colour;
}

.btn-broadcast.active:hover {
  background-color: lighten($warning-colour, 10%);
}

.btn-broadcast:disabled {
  background-color: $disabled-colour;
  cursor: default;
}

.chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chat-log {
  flex: 1;
}